{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<section class="content-404-page" style="background-image:url({{asset "img/pagebanner2.jpg"}}">
  <section class="container">
    <h1>404</h1>
    <h2>That’s an error</h2>
    <p>We can't find your request.</p>
    <a class="more" href="{{@blog.url}}"><i class="fa fa-chevron-right"></i> Home Page</a>
  </section>
</section>
