{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! FULL GRID CONTENT START }}
<section class="two-grid-content" id="site-content-wrapper">
	{{! BLOG LIST ITEMS START }}
	{{! The tag below includes the post loop - partials/loop.hbs }}
	{{> "mid-section" }}		
	{{! BLOG LIST ITEMS END }}
</section>
