{{! This is the Advertising Widget - will be output using this markup }}

<div class="general-sidebar-wrap widget-box">
  <div class="widget-title">
    <h4>Advertising</h4></div>
  <div class="textwidget">
    <a href="{{@blog.url}}"><img src="{{asset "img/advertising.jpg"}}" alt="Advertising" /></a>
  </div>
</div>

