{{! This is the comments Disqus Block }}
<div class="container home__paragraph-container">
    <h1> The Collective </h1>
    <p>
        Etiam quis eros urna. Fusce consequat egestas risus, et euismod dolor gravida eget. Donec sapien turpis, pellentesque sodales posuere nec, ultricies at ligula. Phasellus dapibus ex sapien, ac volutpat massa ullamcorper quis. Vestibulum posuere elit mauris, rutrum lobortis diam laoreet eu. Fusce a imperdiet mi. Suspendisse ut dolor ullamcorper, laoreet risus convallis, accumsan urna. Vivamus at rutrum felis, nec eleifend diam. Curabitur dui lectus, pulvinar non libero quis, tincidunt vehicula justo. Donec sit amet tellus sit amet lacus mollis volutpat. Vivamus id sem semper sapien placerat laoreet sed in justo. Duis in eros a neque elementum aliquam bibendum vitae turpis. Praesent lobortis vel mauris et aliquam. Aenean blandit quam vitae tellus ultrices maximus. Nullam laoreet sem et nisi egestas, eget luctus arcu dignissim.
    </p>
    <hr />
    <div class="home__cta">
        <div class="col-md-4">
            <h3>Visit Us</h3>
            <i class="home__cta-icons flaticon-shop"></i>
        </div>
        <div class="col-md-4">
            <h3>THIS IS A BLOCK quote</h3>
            <i class="home__cta-icons flaticon-online-shop"></i>
        </div>
        <div class="col-md-4">
            <h3>THIS IS A BLOCK quote</h3>
            <span class="home__cta-icons flaticon-shield"></span>
        </div>
    </div>
</div>