{{! This is the Newsletter Widget - will be output using this markup }}

<div class="general-sidebar-wrap widget-box pi_mailchimp widget_newsletter">
  <div class="widget-title">
    <h4>Newsletter</h4></div>
    <form action="//gloriatheme.us11.list-manage.com/subscribe/post?u=d6ae3dab89ef8abb5b37a6ed9&amp;id=0e005855f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <p>Subscribe to our newsletter</p>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" placeholder="Your E-mail Address" id="mce-EMAIL">
      </div>
      <div id="mce-responses" class="clear result-newsletter">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_d6ae3dab89ef8abb5b37a6ed9_0e005855f1" tabindex="-1" value="">
      </div>
      <div class="clear">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>


