<section class="intro-wrap">
	<div class="intro intro-tag">
		<h2 class="tag-name">TAG: {{tag.name}}</h2>
		<span class="tagged-post-count">{{plural pagination.total empty='0 post' singular='% post' plural='% posts'}}</span>
	</div>
</section>