<!-- start sidebar -->
<div class="sidebar-wrap">
	<aside class="sidebar">
		{{navigation}}
		{{> widget-tagcloud}}
		{{> widget-mailchimp}}
		{{> widget-googleplus}}
		{{> widget-facebook}}
		{{> widget-twitter}}
	</aside>
</div>
<!-- end sidebar -->