{{! start main top bar}}
<div class="top-bar clearfix">
	<div class="pull-right"><i class="fa fa-navicon sidebar-open"></i></div>
	<div class="pull-left search-wrap">
		<i class="fa fa-search pull-left search-icon"></i>
		<div class="form-wrap">
			<form class="">
				<input id="search-field" type="text" placeholder="Type to search...">
			</form>
		</div>
		<div id="results"><ul></ul></div>
	</div>
</div>
{{! end main topbar}}