<!-- tagcloud widget start -->
<div class="widget">
	<div id="mc_embed_signup">
		<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
			<div class="mc-field-group clearfix">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email...">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default pull-right">
			</div>
		</form>
	</div>
	<div id="message"></div>
</div>
<!-- tagcloud widget end -->