{{! This is the About Me widget - it will be output using this markup }}
<div class="author-info-area">
	<img class="author-info-area__background-image" src="/content/images/2016/12/Side1RGB.jpg" />
</div>
