{{! This is the navigation loop - each post will be output using this markup }}


<li><a href="/">Home</a></li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="submenu-caret"><i class="fa fa-angle-down"></i></span></a>
	<ul class="dropdown-menu" role="menu">

    {{#foreach navigation}}
        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
	</ul>
</li>
<!-- <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Post Formats <span class="submenu-caret"><i class="fa fa-angle-down"></i></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/most-wanted-the-power-blue-skirt">Standard Post</a></li>
		<li><a href="/pin-up-girls">Video Post</a></li>
		<li><a href="/heavenly-hosts-the-most-fashionable-old-restaurants-and-hotels">Quote Post</a></li>
		<li><a href="/roy-orbison-pretty-woman">Audio Post</a></li>
		<li><a href="/bicycle-style">Gallery Post</a></li>
		<li><a href="/fashion-fades-only-style-remains-the-same">Chat Post</a></li>
		<li><a href="/an-advice-for-you">Link Post</a></li>
	</ul>
</li> -->
<!-- <li><a href="/about-me">About Me</a></li>
<li><a href="/contact">Contact</a></li> -->
