{{! This is the navigation loop - each post will be output using this markup }}

{{#foreach navigation}}
    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
{{/foreach}}

<!-- <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore <span class="submenu-caret"><i class="fa fa-angle-down"></i></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/shortcodes">Shortcodes</a></li>
		<li><a href="/typography">Typography</a></li>
		<li><a href="/standard-page">Standard Page</a></li>
		<li><a href="/page-full-width">Full Width Page</a></li>
		<li><a href="/page-left-sidebar">Page Left Sidebar</a></li>
		<li><a href="/page-right-sidebar">Page Right Sidebar</a></li>
		<li><a href="/author/gloria-jackman">Author Page</a></li>
		<li><a href="/404">404 Page</a></li>
	</ul>
</li> -->
<!-- <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Post Formats <span class="submenu-caret"><i class="fa fa-angle-down"></i></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/most-wanted-the-power-blue-skirt">Standard Post</a></li>
		<li><a href="/pin-up-girls">Video Post</a></li>
		<li><a href="/heavenly-hosts-the-most-fashionable-old-restaurants-and-hotels">Quote Post</a></li>
		<li><a href="/roy-orbison-pretty-woman">Audio Post</a></li>
		<li><a href="/bicycle-style">Gallery Post</a></li>
		<li><a href="/fashion-fades-only-style-remains-the-same">Chat Post</a></li>
		<li><a href="/an-advice-for-you">Link Post</a></li>
	</ul>
</li> -->
<!-- <li><a href="/about-me">About Me</a></li>
<li><a href="/contact">Contact</a></li> -->
