{{! This is the social links widget - it will be output using this markup }}

<div class="sidebar-right-wrap widget-box widget_vintauge_social_media_widget">
  <div class="widget-title">
    <h4>Social Media</h4>
  </div>
  <div class="widget-content">
    <ul class="widget-social">
      <li><a href="https://www.facebook.com/WealthShopCanada" title="Facebook" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/wealthshopcanada/" title="Instagram" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>

    </ul>
  </div>
</div>
