{{! This is the subscriptions widget - it will be output using this markup }}

<div class="col-sm-6 col-xs-12">
  <div class="sidebar-right-wrap widget-box widget_tags">
    <div class="widget-title">
      <h4>Subscribe</h4>
    </div>
    <div class="widget-content">
      <form action="//wealthshop.us11.list-manage.com/subscribe?u=bac2b553f93cc20899dedd7df&amp;id=c1248e56b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="required email" placeholder="Your E-mail Address" id="mce-EMAIL">
        </div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="newsletter-button">SUBSCRIBE</button>
      </form>
    </div>
  </div>
</div>
