{{! This is the subscriptions widget - it will be output using this markup }}

<div class="col-sm-4 col-xs-12">
  <div class="sidebar-right-wrap widget-box widget_text">
    <div class="widget-title">
      <h4>Text Block</h4>
    </div>
    <div class="widget-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis enim at quam iaculis ultricies. Integer eget interdum mi, et tincidunt metus. Duis eget urna elementum lectus pellentesque rutrum et in urna. </p>
    </div>
  </div>
</div>